body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner {
    background-image: url('your_banner_image.jpg');
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
}

#boardIntro {
    margin-bottom: 20px;
}

#messages {
    width: 50%;
    list-style-type: none;
    padding: 0;
}

.message {

    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    background-color: #333;
}

.likes {
    color: blue;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.message img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

#inputNickname,
#inputCommentNickname,
#fileInput,
.btnWrite{
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btnComment {
    width: 50%; /* 버튼 너비 조정 */
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    background-color: #333;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

#inputComment{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    margin-left: auto;
    border: 1px solid white;
    border-radius: 5px;
}

.toggleCommentsButton{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

#inputMessage {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

#fileInput {
    margin-bottom: 10px;
}

.btnWrite,
.btnComment,
.toggleCommentsButton {
    padding: 8px;
    cursor: pointer;
    margin-top: 10px; 
    background-color: #ddd;
    color: black;
    border: none;
    border-radius: 20px;
}

#inputNickname,
.comment-input {
    width: 60%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto; /* 오른쪽으로 위치하도록 추가 */
    background-color: #333;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}


.comments {
    display: none;
    border-top: 1px solid #555; /* 댓글과 글 내용 사이에 경계선 추가 */
}

.comment {
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-top: 5px;
}


